<ul  *ngIf="!isLogged" class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a routerLink="/login">S'inscrire - Se connecter</a>
  </li>
</ul>

<ul *ngIf="isLogged" class="navbar-nav me-auto mb-2 mb-lg-0">
  <li *ngIf="isAdmin" class="nav-item">
    <a routerLink="/admin/categories">Gestion Catégories</a>
  </li>
  <li class="nav-item">
    <a routerLink="/profil">Mon Profil</a>
  </li>
  <li class="nav-item">
    <a routerLink="" (click)="disconnect()">Déconnexion</a>
  </li>
</ul>
