<div id="loginPage" class="container-fluid row">
  <div class="col-4"></div>
  <div class="col-4">
    <h3>Se connecter</h3>
    <hr>
    <p class="red" *ngIf="errorMsg">{{errorMsg}}</p>
    <form [formGroup]="loginForm">
      <div class="row mb-3">
        <label for="login" class="col-sm-3 col-form-label">Login</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="login" formControlName="login">
        </div>
      </div>
      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <button class="btn btn-success btn-block" (click)="onSubmitLogin()" [disabled]="loginForm.invalid">Connexion</button>
        </div>
        <div class="col-7">
          <p>Se souvenir de moi</p>
          <p><a href="#">Mot de passe oublié</a></p>
        </div>
      </div>
    </form>
    <div class="row">
      <hr>
      <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/creerCompte">Créer un compte</button>
    </div>
  </div>
  <div class="col-4"></div>
</div>
