img {height: 155px; width: 140px; padding-bottom: 15px}
p {margin: 0; padding: 0}
button {margin: 25px 0 5px; padding: 5px 40px}
.pseudo {color: darkred; font-weight: bold; font-size: 20px;padding-bottom: 15px}
.gras {font-weight: bold}
