a {text-decoration: none; color: #333333}
h4 {text-decoration: underline; padding-top: 10px;color: #560404;}
p {margin: 5px 0}
#finEnchere {margin: 2px 0;}
.categorie {font-weight: bold; color: darkblue}
.prix {font-weight: bold; font-size: 20px; color: darkgreen}
.tempsRestant {color: darkred;}
.label{display: inline-block; width: 40%}
.info {font-weight: bold}
.carteArticle {margin-bottom: 20px;}
